*{
    /*height:750px;*/
    /*width: 1900px;*/
    top: 70%;
    background-color:red;
    color: yellow;
    display: flex-column;
    justify-content: center;
    align-items: center;

}
input{
    background-color: yellow;
    color: blue;
    font-style: oblique;
    font-size: x-large;
    width: 30%;
}
div{
    position: absolute;
    background-color: red;

}
#id{
    position: absolute;
    font-size: xx-small;
    top: 10px;
    left:550px;
}
#abilities{
    position: absolute;
    font-size: xx-small;
    top: 10px;
    left:550px;
}
#moves{
    top: 95px;
    left:50px;
    font-size: xx-small;
    position: absolute;
}
label{
    position: absolute;
    /*background-color: orangered;*/
    font-size: small;
}
.child-to-body{
    width: 100%;
    height: 30%;
    flex-shrink: 5;
    background-color: red;
    position: absolute;
    left: 0px;
    top: 300px;
}
.poke_box{
    position: relative;
    background-color: red;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.pokeball{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 30%;
    background: #fff;
    opacity: 0.8;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -12px 12px 0 10px #ccc;
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
    animation-play-state: paused;
}
.pokeball:hover{
    width: 165px;
    height: 165px;
    animation-play-state: running;
}

@keyframes shake {
0 { transform: translate(0, 0) rotate(0); }
20% { transform: translate(-5px, 0) rotate(-7deg); }
30% { transform: translate(5px, 0) rotate(7deg); }
50% { transform: translate(-5px, 0) rotate(-3deg); }
60% { transform: translate(5px, 0) rotate(3deg); }
100% { transform: translate(0, 0) rotate(0); }
}
.pokeball::before,
.pokeball::after {
    content:"";
    position: absolute;
}

.pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    /*top: calc(50% - 5px);*/
    width: 100%;
    height: 10px;
    /*background: #000;*/
}
.pokeball__button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    box-shadow: 0 0 0 7px black;
    background: #fff;
    z-index: 10;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
}

.pokeball:hover .pokeball__button{
    animation-play-state: running;
}

@keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
}
table{
    /*justify-content: right;*/
    /*align-items: center;*/
    /*position: absolute;*/
    /*left: 30px;*/
    position: page;
    bottom: 0;
    right: 0;
    background-color: lightskyblue;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}